mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+e.container.container
			+e.IMG(src="img/header-bg-1.png", alt="").img-bg--left
			+e.IMG(src="img/header-bg-1.png", alt="").img-bg--right
			.row
				.col-lg-8.ms-auto.me-auto.text-center
					p Свяжитесь с&nbsp;нами любым удобным способом, по&nbsp;телефону, электронной почте<br>или воспользуйтесь любым из&nbsp;мессенджеров:
					a.h1(href="tel:88005005748")
						+icon('call')
						| 8 (800) 500-57-48
					+e.mail(href="mailto:info@datexsoft.ru") info@datexsoft.ru
					+soc()
						+item-sos('viber')(style="--color: #715DF0").--viber
						+item-sos('telegram')(style="--color: #179CDE").--tg
						+item-sos('phone')(style="--color: #0DC143").--phone
	// end sContact