h1:first-line{
	color: var(--bs-primary);
}

.dd-group__col li::before{
	content: var(--icon-list);
	position: absolute;
	left: 0;
	top: 0;
}
.dd-group__col--substitution{
	--icon-list: url("../img/svg/apply.svg")
}
.dd-group__col--imports{
	--icon-list: url("../img/svg/cross.svg")
}

.sTable__wrap p{
	margin-bottom: 0;
}