mixin sTable(data)
	// start sTable
	+b.SECTION.sTable.section#sTable&attributes(attributes)
		.container
			+b.section-title.text-center
				h2.h1 #[span Аналоги иностранного ПО]<br>для пользователей
			+e.slider--js.swiper 
				.swiper-wrapper
					+e.table-wrap.swiper-slide
						table
							tr
								th
									+e.wrap
										+icon('cross')
										+e.text-wrap
											p Программное обеспечение
								th 
									+e.wrap
										+icon('apply')
										+e.text-wrap
											p Аналог
								th Стоимость аналога ПП
								th Трудозатраты, нормо-часы
								th Состав работ
							tr
								td
									+e.wrap
										+img('img/svg/windows.svg')
										+e.text-wrap
											p Операционная система MS Windows 7, 8, 10
								td 
									+e.wrap
										+img('img/astralinux_logo.png')
										+e.text-wrap
											p Astra Linux Common Edition 2.12
								td 8 800 ₽
								td 3
								td(rowspan = "6")
									ol
										li Создание резервных копий существующих файлов, папок и&nbsp;других данных.
										li Установка операционной системы.
										li Установка драйверов для работы с&nbsp;принтером&nbsp;/ МФУ.
										li Установка офисного пакета и&nbsp;базового пакета по&nbsp;обеспечению безопасности работы.
										li Обучение пользователей и&nbsp;подготовка инструкций.
							tr
								td
									+e.wrap
										+img('img/office-logo.png')
										+e.text-wrap
											p Пакет офисных программ MS Office
								td
									+e.wrap
										+img('img/libreoffice-logo.png')
										+e.text-wrap
											p Libre Office 7.3.1
								td Бесплатное ПО
								td 1
							tr
								td
									+e.wrap
										+img('img/adobe-logo.png')
										+e.text-wrap
											p Программа для просмотра PDF Adobe Acrobat
								td
									+e.wrap
										+img('img/xpdf-logo.png')
										+e.text-wrap
											p Xpdf 4.03 для Linux
								td Бесплатное ПО
								td 1
							tr
								td
									+e.wrap
										+img('img/google-chrome-logo.png')
										+e.text-wrap
											p Браузер Google Chrome
								td
									+e.wrap
										+img('img/yandex-logo.png')
										+e.text-wrap
											p Yandex Браузер 22.3.0
								td Бесплатное ПО
								td 1
							tr
								td
									+e.wrap
										+img('img/symantec-logo.png')
										+e.text-wrap
											p Антивирус Symantec
								td
									+e.wrap
										+img('img/dr-web.png')
										+e.text-wrap
											p Dr. Web Desktop Security Suite, 12 мес., на 5 рабочих станций
								td 6 050 ₽
								td 2
							tr
								td 
								td 
								td.fw-medium 14 850 ₽
								td.fw-medium 8 часов по<br>2 000 ₽ (16 000 ₽)
							tr
								td(colspan="5") Итого: 30 850 ₽
				.swiper-scrollbar
			+e.btn(href="#" data-src='modal-order-call' data-fancybox="modal").btn.btn-primary Получить консультацию
	// end sTable

mixin sTable2(data)
	// start sTable
	+b.SECTION.sTable.section#sTable&attributes(attributes)
		.container
			+b.section-title.text-center
				h2.h1 #[span Аналоги иностранного ПО]<br>для пользователей
			+e.slider--js.swiper 
				.swiper-wrapper
					+e.table-wrap.swiper-slide
						table
							tr
								th
									+e.wrap
										+icon('cross')
										+e.text-wrap
											p Программное обеспечение
								th 
									+e.wrap
										+icon('apply')
										+e.text-wrap
											p Аналог
								th Стоимость аналога ПП
								th Трудозатраты, нормо-часы
								th Состав работ
							tr
								td VM Ware, Hyper-V
								td КСВ &quot;Брест&quot;
								td 380 000 ₽
								td 15
								td(rowspan = "9")
									ol
										li Создание резервной копии БД.
										li Установка виртуальной машины на&nbsp;сервер.
										li Установка операционной системы на&nbsp;сервер.
										li Установка проприетарных драйверов и&nbsp;прошивок для работы с&nbsp;перефирийными устройствами.
										li Настройка PostgreSQL для работы с&nbsp;1С:Предприятие, в&nbsp;том числе: установка PostgreSQL (PG), настройка&nbsp;ОС для&nbsp;PG, настройка параметров&nbsp;PG (клиентских сеансов, параметров подключений, параметров WAL, фонового процесса записи, выполнения очистки базы, использование ресурсов ядра, планировщика запровсов, запростов к&nbsp;дисковой системе).
										li Подключение клиентских машин к&nbsp;серверу базы данных.
										li Настройка continuos бекапов
										li Установка и&nbsp;настройка системы мониторинга основных показателей сервера
										li Нагрузочное тестирование
							tr
								td Операционная система MS Windows Server 2012, 2019
								td Astra Linux Special Edition 1.7
								td 97 000 ₽
								td 20
							tr
								td MS SQL Server, ORCALE Database
								td СУБД Prostgres Pro Enterprise на 1 ядро x86
								td 435 600 ₽
								td 15
							tr
								td Orion NPM
								td Zabbix 6.0 LTS
								td Бесплатное ПО
								td 30
							tr
								td Антивирус Symantec
								td Dr. Web Desktop Security Suite, 12 мес., на 5 раб. станций
								td 6 050 ₽
								td 2
							tr
								td(colspan="2") С&nbsp;приминением виртуализации КСВ &quot;Брест&quot;
								td.text-center 913 300 ₽
								td Часов по 2000 ₽
							tr
								td(colspan="2") Без приминения виртуализации
								td.text-center 533 300 ₽
								td Часов по 2000 ₽
							tr
								td(colspan="2") Сервисное обслуживание сервера
								td(colspan="2") 5 000 ₽/мес
							tr
								td(colspan="4")
							tr
								td(colspan="5") Итого: 30 850 ₽
				.swiper-scrollbar
			+e.btn(href="#" data-src='modal-order-call' data-fancybox="modal").btn.btn-primary Получить консультацию
	// end sTable