 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	justify-content: center;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		width: rem(45);
		height: rem(45);
		border-radius: 10px;
		@include media-breakpoint-up(md) {
			border-radius: 15px;
			width: rem(70);
			height: rem(70);
		}
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			box-shadow:  0px 0px 20px 0px #0000001f;
		}
		&:nth-child(1) {
			background-color: $purple;
		}
		&:nth-child(2) {
			background-color: $cyan;
		}
		&:nth-child(3) {
			background-color: $teal;
		}
	}
	.icon{
		font-size: rem(19.29);
		color: $white;
		@include media-breakpoint-up(md) {
			font-size: rem(30);
		}
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}