mixin sWhoNeed(data)
	// start sWhoNeed
	+b.SECTION.sWhoNeed.section#sWhoNeed&attributes(attributes)
		.container
			+b.section-title.text-center
				h2.h1 Кому необходимо 
					span импортозамещение ПО
				p Согласно национальной программе &laquo;Цифровая экономика&nbsp;РФ&raquo; к&nbsp;2024 году доля российского программного обеспечения в&nbsp;госструктурах должна&nbsp;составить&nbsp;90%, а&nbsp;в&nbsp;госкомпаниях&nbsp;&mdash; 70%. К&nbsp;госкомпаниям относятся организации с&nbsp;долей участия в&nbsp;них государства свыше 50%.<br>К&nbsp;2025 году планируется перевести на&nbsp;отечественное программное обеспечение те&nbsp;организации, которые относятся к&nbsp;субъектам критической&nbsp;информационной инфраструктуры (КИИ). Субъекты КИИ&nbsp;&mdash; это компании, которые функционируют в&nbsp;следующих областях:
			+e.row.row
				mixin item(i, text)
					+e.col.col-6.col-sm-4.col-md-3.col-lg-auto
						+img(`img/svg/sWhoNeed-img-${i}.svg`)
						p!= text
				+item(1, 'Металлургическая и химическая промышленность')
				+item(2, 'Здравоохранение')
				+item(3, 'Ракетно-космическая промышленность')
				+item(4, 'Топливно-энергетический комплекс')
				+item(5, 'Наука, транспорт, связь')
				+item(6, 'Атомная промышленность')
				+item(7, 'Горнодобыващая промышленность')
				+item(8, 'Военно-промышленный комплекс')
				+item(9, 'Банковская сфера')
				+item(10, 'Юр. лица и ИП, которые взаимодействуют с системой')
			+e.btn(href="#").btn.btn-primary Получить консультацию
	// end sWhoNeed